<div class="container"><br>
  <h1>New Document</h1>
  <%= render 'form' %>
  <% if is_admin? %>
  	<%= link_to 'Back', documents_path %>
  <% else %>
  	<%= link_to 'Back', root_path, method: :get %>
  <% end %>
</div>

