<br><br>
<div class="container container-color">
  <h1>New Document</h1>
  <%= render 'form' %>
  <% if is_admin? %>
  	<%= link_to 'Back', documents_path, method: :get %>
  <% else %>
  	<%= link_to 'Back', root_path, method: :get %>
  <% end %>
</div>

