<div class="cntr">
	<h1>
		The ting goes skrrrahh, pap, pap, ka-ka-ka &#013;&#10;
		Skibiki-pap-pap, and a pu-pu-pudrrrr-boom  &#013;&#10;
		Skya, du-du-ku-ku-dun-dun				   &#013;&#10;
		Poom, poom, you dun know				   &#013;&#10;
	</h1>
	<hr>
	<%= link_to "Logout", logout_path, {method: :delete} %>
</div>