<% environment.context_class.instance_eval { include Rails.application.routes.url_helpers } %>
<% environment.context_class.instance_eval { include ActionView::Helpers::UrlHelper } %>
<br>
<div class="cntr container">
  <div class="container-color">
    <h1>Admin Home Page</h1> <br>
    <div class="row">
      <%= link_to 'Users', users_path, class: 'btn btn-primary btn-lg col-md-12' %>
    </div>
    <br>
    <div class="row">
      <%= link_to 'Documents', documents_path, class: 'btn btn-info btn-lg col-md-12' %>
    </div>
    <br>
    <div class="row">
      <%= link_to 'Books', books_path, class: 'btn btn-info btn-lg col-md-12' %>
    </div>
  </div>
</div>