<% environment.context_class.instance_eval { include Rails.application.routes.url_helpers } %>
<% environment.context_class.instance_eval { include ActionView::Helpers::UrlHelper } %>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{$ctrl.book.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="form-group" ng-if="!$ctrl.allow_access">
          <label class="" for="keyEntry">Enter your Secret Key</label>
          <input id="keyEntry" type="text" class="form-control" placeholder="Key..." ng-model="$ctrl.secret" ng-change="$ctrl.checkSecret()">
        </div>
        <div class="list-group" ng-if="$ctrl.allow_access">

          <div class="form-group">
            <input class="form-control" id="search" type="text" placeholder="Search for files..."
                   ng-model="$ctrl.fuzzySearchString" ng-change="$ctrl.search()">
          </div>

          <a ng-repeat="doc in $ctrl.fuzzySearchResult" href="{{doc.download_url}}" class="list-group-item flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{doc.name}}</h5>
              <small class="text-muted">{{doc.created_at}}</small>
            </div>
            <p class="wrap">{{doc.description}}</p>
            <small class="text-muted">uploaded by {{doc.username}}</small>
          </a>
        </div>
      </div>

      <div class="modal-footer" ng-if="$ctrl.allow_access">
        <a class="btn btn-primary" href="{{$ctrl.baseUrl}}/add_file_to_book/{{$ctrl.book.id}}">Add Document</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
      </div>
    </div>
  </div>
</div>