<% environment.context_class.instance_eval { include Rails.application.routes.url_helpers } %>
<% environment.context_class.instance_eval { include ActionView::Helpers::UrlHelper } %>
<div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="BookModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #de8842">
        <h5 class="modal-title" style="color: white" id="ModalHeaderLabel">{{$ctrl.book.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span style="color: white" aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="form-group" ng-if="!$ctrl.allow_access">
          <input id="keyEntry" type="text" class="form-control" placeholder="Please enter your key..."
                 ng-model="$ctrl.secret" ng-change="$ctrl.checkSecret()">
        </div>
        <div class="list-group" ng-if="$ctrl.allow_access">

          <div class="form-group">
            <input class="form-control" id="search" type="text" placeholder="Search for files..."
                   ng-model="$ctrl.fuzzySearchString" ng-change="$ctrl.search()">
          </div>

          <a ng-repeat="doc in $ctrl.fuzzySearchResult" ng-click="$ctrl.openDoc(doc)"
             class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{doc.filename}}</h5>
              <small class="text-muted">{{doc.created_at}}</small>
            </div>
            <p class="wrap">{{doc.description}}</p>
            <small class="text-muted">uploaded by {{doc.username}}</small>
          </a>
        </div>
      </div>

      <div class="modal-footer" ng-if="$ctrl.allow_access">
        <a class="btn btn-primary" href="{{$ctrl.baseUrl}}/add_file_to_book/{{$ctrl.book.id}}">Add Document</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="docModal" tabindex="-1" role="dialog" aria-labelledby="DocModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #de8842">
        <h5 class="modal-title" style="color: white" id="TitleModalLabel">{{$ctrl.detailDoc.filename}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span style="color: white" aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <object data="{{$ctrl.detailDoc.download_url}}" width="100%" height="100%"></object>
      </div>

      <div class="modal-footer">
        <a class="btn btn-primary" href="{{$ctrl.detailDoc.download_url}}">Download</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="chatroomModal" tabindex="-1" role="dialog" aria-labelledby="ChatroomModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="chat">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #de8842">
        <h5 class="modal-title" style="color: white" id="ModalHeaderLabel">{{$ctrl.room.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span style="color: white" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="chat-modal-body">
        <object data="{{$ctrl.baseUrl}}/messages/rooms/{{$ctrl.room.id}}" width="100%" height="500em"></object>
      </div>
    </div>
  </div>
</div>
