<div id="sidebar" class="sidebar collapsed">
  <!-- Nav tabs -->
  <div class="sidebar-tabs">
    <ul role="tablist">
      <li>
        <a ng-click="$ctrl.getDocs()" href="#home" role="tab">
          <i data-notifications="{{$ctrl.docs.length}}" class="fa fa-file-text"></i>
        </a>
      </li>

      <li><a href="#profile" role="tab"><i class="fa fa-user"></i></a></li>
    </ul>

    <ul role="tablist">
      <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
    </ul>
  </div>

  <!-- Tab panes -->
  <div class="sidebar-content">
    <div class="sidebar-pane" id="home">
      <h1 class="sidebar-header">
        Files
        <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
      </h1>

      <div class="list-group">
        <a ng-repeat="doc in $ctrl.docs" href="{{doc.download_url}}" class="list-group-item list-group-item-action flex-column align-items-start">

          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{doc.filename}}</h5>
            <small class="text-muted">{{doc.created_at}}</small>
          </div>
          <p class="mb-1">{{doc.description}}</p>
          <small class="text-muted">uploaded by {{doc.username}}</small>
        </a>
      </div>

    </div>
  
    <div class="sidebar-pane" id="profile">
      <h1 class="sidebar-header">Profile<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
    </div>

    <div class="sidebar-pane" id="settings">
      <h1 class="sidebar-header">Settings<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
    </div>
  </div>
</div>
